<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rate My Pet!</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
</head>

<body>
  <nav>
    <section class="hero is-primary is-small">
      <!-- Hero head: will stick at the top -->
      <div class="hero-head">
        <nav class="navbar">
          <div class="container">
            <div class="navbar-brand">
             
              <span class="navbar-burger" data-target="navbarMenuHeroA">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </div>
            <div id="navbarMenuHeroA" class="navbar-menu">
              <div class="navbar-end">
                <button class="button is-primary"><a class="navbar-item" href="/">Home</a></button>
                <button class="button is-primary"><a class="navbar-item" href="/ranking">Rankings</a></button>
                {{#if logged_in}}
                <button class="button is-primary"><a class="navbar-item" href="/profile">Profile</a></button>
                <button class="button is-primary"><a class="button is-primary"
                    href="https://github.com/JamesvanHoke/Rate-My-Pet" target="_blank">GitHub</a></button>
                <button class="button is-primary navbar-item" id="logout">Logout</button>

                {{else}}
                <button class="button is-primary"><a class="navbar-item" href="/login">Login</a></button>

                {{/if}}

                </span>
              </div>
            </div>
          </div>
        </nav>
      </div>

      <!-- Hero content: will be in the middle -->

      <div class="hero-body">
        <div class="container has-text-centered">
          <p class="title">
            {{!-- Rate My Pet! --}}
            <a href="/">Rate My Pet!</a>
          </p>
          <p class="subtitle">
            A website to judge the adorable nature of other people's pets
          </p>
        </div>
      </div>


    </section>

  </nav>
  </header>
  <main class="container container-fluid mt-5">
    <!-- Render the sub layout -->
    {{{ body }}}
  </main>
  <footer>

  </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>