<div class="columns">
  <div class="column">
    

<form class="box">
  <div class="field">
      <h1 class="is-size-1">Returning User</h1>
    <label class="label">Email</label>
    <div class="control">
      <input class="input" type="email" placeholder="e.g. alex@example.com">
    </div>
  </div>

  <div class="field">
    <label class="label">Password</label>
    <div class="control">
      <input class="input" type="password" placeholder="********">
    </div>
  </div>

  <button class="button is-primary">Sign in</button>
</form>

  </div>
  <div class="column">


<form class="box">
  <div class="field">
      <h1 class="is-size-1">New User</h1>
    <label class="label">Name</label>
    <div class="control">
      <input class="input" type="name" placeholder="e.g. Alex Smith">
    </div>
  </div>

  <div class="field">
    <label class="label">Email</label>
    <div class="control">
      <input class="input" type="email" placeholder="********">
    </div>
  </div>

    <div class="field">
    <label class="label">Password</label>
    <div class="control">
      <input class="input" type="password" placeholder="********">
    </div>
  </div>

  <button class="button is-primary">Sign in</button>
</form>

  </div>
</div>