<div class="columns">
    <div class="column">
        Upload a New Image
        <div class="file is-boxed">
            <label class="file-label">
                <input class="file-input" type="file" name="resume">
                <span class="file-cta">
                    <span class="file-icon">
                        <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                        Choose a Pet Photo…
                    </span>
                </span>
            </label>
        </div>
        
    </div>
    <div class="column">
        My Uploaded Images

    </div>
</div>